.*~
src/.*~
*~
*.d
*.o
*.swp
*.bc
/build_gcc_dbg/
/debug/
patch/*
.gdbinit
*.1
*.log
*.bak
/build_clang/
/build_gcc/
src/gen/
.vscode/
build_cmake
src/config.h
/Debug/
deps/
bak/
*.pdb
.cproject.local
.settings/language.settings.xml
.settings/org.eclipse.ltk.core.refactoring.prefs
CMakeFiles/CMakeDirectoryInformation.cmake
CMakeFiles/libhp.dir/DependInfo.cmake
CMakeFiles/libhp.dir/build.make
CMakeFiles/libhp.dir/cmake_clean.cmake
CMakeFiles/libhp.dir/cmake_clean_target.cmake
CMakeFiles/libhp.dir/compiler_depend.make
CMakeFiles/libhp.dir/compiler_depend.ts
CMakeFiles/libhp.dir/depend.make
CMakeFiles/libhp.dir/flags.make
CMakeFiles/libhp.dir/link.txt
CMakeFiles/libhp.dir/progress.make
CMakeFiles/progress.marks
Makefile
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-dbb093bb56b005932ab9.json
build/.cmake/api/v1/reply/cmakeFiles-v1-fe59300ee3f3eb1215ca.json
build/.cmake/api/v1/reply/codemodel-v2-f56ce7ba4b14dfd1ddb8.json
build/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
build/.cmake/api/v1/reply/directory-deps.hiredis-Debug-846c05ffcc59a8544ccb.json
build/.cmake/api/v1/reply/index-2023-07-09T09-33-20-0131.json
build/.cmake/api/v1/reply/target-hiredis-Debug-20c8ba62bdcc687fc5d8.json
build/.cmake/api/v1/reply/target-hiredis-test-Debug-777cf85935616166ed8c.json
build/.cmake/api/v1/reply/target-hiredis_static-Debug-125a0c3b7eeeb26ac96a.json
build/.cmake/api/v1/reply/target-libhp-Debug-8e20187802f7854ba540.json
build/.cmake/api/v1/reply/target-test-libhp-Debug-81a545ac13ec9dc11067.json
build/.cmake/api/v1/reply/toolchains-v1-5162ca28b2d656a75295.json
build/CMakeCache.txt
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/libhp.dir/DependInfo.cmake
build/CMakeFiles/libhp.dir/build.make
build/CMakeFiles/libhp.dir/cmake_clean.cmake
build/CMakeFiles/libhp.dir/cmake_clean_target.cmake
build/CMakeFiles/libhp.dir/compiler_depend.make
build/CMakeFiles/libhp.dir/compiler_depend.ts
build/CMakeFiles/libhp.dir/depend.make
build/CMakeFiles/libhp.dir/flags.make
build/CMakeFiles/libhp.dir/link.txt
build/CMakeFiles/libhp.dir/progress.make
build/CMakeFiles/progress.marks
build/CMakeFiles/test-libhp.dir/DependInfo.cmake
build/CMakeFiles/test-libhp.dir/build.make
build/CMakeFiles/test-libhp.dir/cmake_clean.cmake
build/CMakeFiles/test-libhp.dir/compiler_depend.make
build/CMakeFiles/test-libhp.dir/compiler_depend.ts
build/CMakeFiles/test-libhp.dir/depend.make
build/CMakeFiles/test-libhp.dir/flags.make
build/CMakeFiles/test-libhp.dir/link.txt
build/CMakeFiles/test-libhp.dir/progress.make
build/CPackConfig.cmake
build/CPackSourceConfig.cmake
build/Makefile
build/Testing/20230708-1438/Test.xml
build/Testing/TAG
build/Testing/Temporary/CTestCostData.txt
build/cmake_install.cmake
build/compile_commands.json
build/config.h
build/liblibhp.a
build/test-libhp
cmake_install.cmake
config.h.cygwin
include/win/unistd.h
lib/Debug/Win32_Interop/README.md
lib/Debug/Win32_Interop/Win32_Interop.lib
lib/Debug/Win32_Interop/hiredis.lib
lib/Debug/Win32_Interop/jemalloc.lib
lib/Debug/Win32_Interop/lua.lib
lib/Debug/Win32_Interop/redis-server.lib
lib/Release/Win32_Interop/Win32_Interop.lib
lib/Release/Win32_Interop/hiredis.lib
lib/Release/Win32_Interop/lua.lib
lib/Release/Win32_Interop/redis-server.lib
lib/zlog.lib
liblibhp.a
msvs/ALL_BUILD.vcxproj
msvs/ALL_BUILD.vcxproj.filters
msvs/INSTALL.vcxproj
msvs/INSTALL.vcxproj.filters
msvs/libhp.vcxproj
msvs/libhp.vcxproj.filters
msvs/libhp.vcxproj.user
msvs/test-libhp.sln
msvs/test-libhp.vcxproj
msvs/test-libhp.vcxproj.filters
msvs/test-libhp.vcxproj.user
build/
